apiVersion: apps/v1
kind: Deployment
metadata:
  name: counter
  labels:
    type: Deployment
    tier: backend
    author: Ali-Kahoot
spec:
  replicas: 1
  strategy:
    type: "RollingUpdate"
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: counter
  template:
    metadata:
      labels:
        app: counter
        author: Ali-Kahoot
    spec:
      containers:
      - name: counter
        image: busybox
        args: [/bin/sh, -c,'i=0; while true; do echo "$i: $(date)"; i=$((i+1)); sleep 1s; done']